.App {
  text-align: center;

  
}

.main {
  max-width: 1000;
  margin: 0 auto;
}

/* actions */
#actions {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.tuile-elts {
  width: 30%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
}

.tuile-logo {
  font-size: 50px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}

.tuile-descriptions h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.tuile-descriptions p {
  font-size: 12px;
}

.tuile-elts:nth-child(1){
  background-color: rgb(28, 89, 160);
}

.tuile-elts:nth-child(2){
  background-color: rgb(131, 45, 45);
}

.tuile-elts:nth-child(3){
  background-color: rgb(37, 114, 37);
}